p A new client has just submitted a brief for his new project. Check details:
p Name: #{name}
p Phone Number: #{phone}
p Brief: #{message}
p Brief Document: 
    a(href=`${url}`) Download Brief Document